#buton{
    color: white;
    background-color: red;
    border: 3px solid darkred;
    border-radius: 15%;
    transition: 0.4s;
    size:300%;

}
#buton:hover{
    background-color: rgb(150, 0, 0);
    box-shadow: 0 0 7px darkred;
    text-shadow: 0 0 5px white;
}
#buton:active{
    border: 3px solid red;
    transform: scale(0.8);
}
