body{
    padding: 0px;
    margin: 0px;
}


#div1{
    background-color: blue;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    color: azure;
    justify-content: center;
    position: relative;
    top: 300px;
    left:500px;
    padding-left: 20px;
    padding-right: 20px;

}
header{
    background-color: tomato;
    height: 20vh;
    position: sticky;
}
footer{
    background-color: tomato;
    height: 20vh;
    display: flex;
    align-content: center;
    justify-content: center;

}
main{
    background-image: url(download.png);
    background-size: contain;
    background-repeat: repeat-y;
}
main{
    height: 160vh;

}
nav{
    border: solid, 2px , white;
    position: fixed;
    right: 3px;
    bottom: 20vh;
    display: inline;
}
a{
    text-decoration: none;
    color: white;
    border: white ;
}