*{
    margin:0;
    padding:0;

}
.parent{
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    height: 230px;
    justify-content: space-between;
}
.div{
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 10px;
}