@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0%;
}
body{
    background-color: #101c2c ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit;

}
main{
    background-color: hsl(216, 50%, 16%);
    height: 650px;
    width: 350px;
    box-shadow: 15px 15px  0px  hsl(217, 54%, 11%), -15px 15px 0px hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
}
.img{
    background-image: url(./images/image-equilibrium.jpg);
    height: 350px;
    width: 350px;
    background-size:cover ;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 15px;
    border-radius: 15px;
    

}
.equil{
    color: white;
    font-weight:500 ;
    
}
.text{
    height: 300px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
}
.desc{
    color: hsl(215, 21%, 52%);
    font-size: 20px;
    font-weight:500 ;
    
}
.mid{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
.eth{
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
    gap: 5px;
}
.daysleft{
    color: hsl(215, 21%, 52%);
    display: flex;
    align-items: center;
    gap: 5px;
}
.profile{
    border-top: 1px solid hsl(215, 21%, 52%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    padding-top: 30px;
}
.avatar{
    height: 40px;
    width:  40px;
    border: 1px solid white;
    border-radius: 50%;
}
.author{
    display: flex;
    justify-content: space-evenly;
    gap: 7px;
    align-items: center;
    font-size: 18px;
    color: white;
}
.grayish{
    color: hsl(215, 21%, 52%);
}
