@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainbox{
    height: 600px;
    width: 400px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    box-shadow:  5px 5px black;
    border: black 2px solid;
    display: block;
    padding-left: 50px;
}
p , h1{
    font-family: Figtree, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}
#img{
    height: 200px;
    width: 350px;
    margin-top: 30px;
}
.but{
    background-color: hsl(47, 88%, 63%);
    top: 0%;
    left: 0;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
h1:hover{
    color: hsl(47, 88%, 63%);
}
.text{
    margin-top: 20px;
    font-size: 20px;
}
.profile{
    height: 64px;
    display: flex;
}
h2{
    margin-left: 7px;
    font-family: Figtree;
}