*{
    margin: 0%;
    padding: 0%;
}

header{
    height: 60px;
    background-color: rgb(94, 156, 250);
    display: flex;
    align-items: center;
    gap: 170px;
    padding-left: 50px;
    color: white;
}
#search{
    display: flex;
    justify-self: center;
    background-color: darkslategray;
    border: solid 2px white;
    height: 40px;
    width: 600px;
    border-radius: 50px;
    font-size: 30px;
    color: white;
}
main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill), minmax(150px,1fr);
}
.cards{
    border: 1px double rgb(44, 128, 255);
}