@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin:0%;
    padding: 0%;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Hanken Grotesk;
}
main{
    width: 750px;
    height: 550px;
    box-shadow: 15px 15px 10px hsl(221, 100%, 96%);
    border-radius: 25px;
}
.bluepart{
    height: 100%;
    width: 50%;
    background-color: hsl(252, 100%, 67%); 
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}
.youres{
    color: hsl(0, 0%, 100%);
}
.circle{
    background-color: hsla(256, 72%, 46%, 1);
    height: 165px;
    width: 165px;
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insidecircle{
    
    width: 55px;
}
