*{
    margin: 0;
    padding: 0;

}
.parent{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 3;
    height: 500px;
    width: 500px;
    gap: 10px;
}
.div{
    
    background-color: grey;
    border: 1px solid grey;
    border-radius: 15px;
    color: white;
    text-decoration: bold;
    padding: 5px;
    
}
.div1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;


}
.div2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

}
.div3{
    grid-column-start:3 ;
    grid-column-end: 5;
}
