*{
    margin: 0;
    padding: 0;
}
.parent{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 6;
    gap: 20px;
}
.div{
    border: solid 3px black;
}
.header{
    background-color: blueviolet;
    grid-column: 1/4;
    grid-row: 1/2;

}
.sidebar{
    background-color: aquamarine;
    grid-column: 1/2;
    grid-row: 2/6;
}
.cont1{
    background-color:royalblue;
    grid-column: 2/4;
    grid-row: 2/4;
}
.cont2{
    background-color: royalblue;
    grid-column: 2/3;
    grid-row: 4/6;
}
.cont3{
    background-color: royalblue;
    grid-column: 3/4;
    grid-row: 4/6;

}
.footer{
    background-color: blueviolet;
    grid-column: 1/4;
    grid-row: 6/7;

}



