*{
    margin: 0;
    padding: 0;
}
body{
    padding: 30px;
}
.field{
    background-color: forestgreen;
    height: 500px;
    width: 500px;
}
.objct{
    background-color:hsl(359, 100%, 46%);
    height: 70px;
    width: 70px;
    position: relative;
}